<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Страница пользователя</title>
</head>
<body>

<h1>Страница пользователя</h1>

<p>ID: <span th:text="${user.id}"></span></p>
<p>Имя: <span th:text="${user.name}"></span></p>
<p>Фамилия: <span th:text="${user.lastName}"></span></p>
<p>Возраст: <span th:text="${user.age}"></span></p>
<p>Логин: <span th:text="${user.username}"></span></p>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Выйти"/>
</form>

</body>
</html>